<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="icon" href="assets/Black and White Barbell Icon Fitness Logo.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style_rest.css"/>
    <title>GIMMY | AMAN SHARMA | MINI PROJECT</title>
  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
  </body>
  <script src="/js/index.js"></script>
  
</body>
</html>